<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>servlets.ShopServlet</servlet-class>
        <init-param>
            <param-name>JDBC_URL</param-name>
            <param-value>jdbc:mysql://localhost/compstore?user=root&amp;password=root&amp;verifyServerCertificate=false&amp;useSSL=true</param-value>
            <description>The Database URL to use</description>
        </init-param>
        <init-param>
            <param-name>SHOW_PAGE</param-name>
            <param-value>/show.jsp</param-value>
            <description>The main shop page</description>
        </init-param>
        <init-param>
            <param-name>DETAIL_PAGE</param-name>
            <param-value>/details.jsp</param-value>
            <description>The detailpage for computers</description>
        </init-param>
        <init-param>
            <param-name>ERROR_PAGE</param-name>
            <param-value>/error.jsp</param-value>
            <description>Error page for different application state</description>
        </init-param>
        <init-param>
            <param-name>LOGIN_PAGE</param-name>
            <param-value>/login.jsp</param-value>
            <description>General loginpage </description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
</web-app>
