<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>servlets.ShopServlet</servlet-class>
        <init-param>
            <param-name>JDBC_URL</param-name>
            <param-value>jdbc:mysql://localhost/compstore?user=root&amp;password=root&amp;verifyServerCertificate=false&amp;useSSL=true</param-value>
            <description>The Database URL to use</description>
        </init-param>
        <init-param>
            <param-name>SHOW_PAGE</param-name>
            <param-value>/show.jsp</param-value>
            <description>The main shop page</description>
        </init-param>
        <init-param>
            <param-name>DETAIL_PAGE</param-name>
            <param-value>/details.jsp</param-value>
            <description>The detailpage for computers</description>
        </init-param>
        <init-param>
            <param-name>ERROR_PAGE</param-name>
            <param-value>/error.jsp</param-value>
            <description>Error page for different application state</description>
        </init-param>
        <init-param>
            <param-name>LOGIN_PAGE</param-name>
            <param-value>/login.jsp</param-value>
            <description>General loginpage </description>
        </init-param>
        <init-param>
            <param-name>REGISTER_PAGE</param-name>
            <param-value>/register.jsp</param-value>
            <description>Page for new user registration</description>    
        </init-param>
        <init-param>
            <param-name>CHECKOUT_PAGE</param-name>
            <param-value>/checkout.jsp</param-value>
            <description>Page for user checkout</description>
        </init-param>
        <init-param>
            <param-name>THANK_PAGE</param-name>
            <param-value>/tack.jsp</param-value>
            <description>Page to thank user at checkout</description>
        </init-param>
        <init-param>
            <param-name>PROFILE_PAGE</param-name>
            <param-value>/profile.jsp</param-value>
            <description>Page to handle profile</description>
        </init-param>
        <init-param>
            <param-name>MANAGER_PAGE</param-name>
            <param-value>/manager.jsp</param-value>
            <description>Page for the managers panel</description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>    
    </error-page>  
</web-app>
